<footer class="border-top bg-dark text-white mt-auto jumbotron">

  <div class="row">
  
    <div class="col-md-12 col-lg-6  text-center row">

        <div class="text-center col-lg-6 col-sm-12">
            <p class="d-block text-center">
            &copy; Glycemique.com - Décembre 2022
            </p>
            <p class="d-block text-center pl-3">
            Réalisation Antoine Chemin
            </p>
        </div>

        <div class="text-center col-lg-6 col-sm-12">
            <h5>
            Features
            </h5>
            <ul class="list-unstyled text-small text-white">
            <li>
                <a class="text-white"
                href="https://getbootstrap.com/docs/4.1/examples/pricing/#">
                Cool stuff
                </a>
            </li>
            <li>
                <a class="text-white"
                href="https://getbootstrap.com/docs/4.1/examples/pricing/#">
                Random feature
                </a>
            </li>
            </ul>
        </div>
    </div>

    <div class="col-md-12 col-lg-6 text-center row">

        <div class="text-center col-lg-6 col-sm-12">
            <h5>
            Resources
            </h5>
            <ul class="list-unstyled text-small text-white">
            <li>
                <a class="text-white"
                href="https://getbootstrap.com/docs/4.1/examples/pricing/#">
                Resource
                </a>
            </li>
            <li>
                <a class="text-white"
                href="https://getbootstrap.com/docs/4.1/examples/pricing/#">
                Resource name
                </a>
            </li>
            </ul>
        </div>

        <div class="text-center col-lg-6 col-sm-12">
            <h5>
            About 
            </h5>
            <ul class="flex fullCenter nolist">
            <li class="nolist">
                <a href="https://twitter.com">
                <img class="icones"
                    src="images/icoTwitter.png"
                    alt="logo twitter clicable" />
                </a>
                <a href="https://www.facebook.com/">
                <img class="icones"
                    src="images/icoFacebook.png"
                    alt="logo facebook clicable" />
                </a>
                <a href="https://www.instagram.com/">
                <img class="icones"
                    src="images/icoInstagram.png"
                    alt="logo instaram clicable" />
                </a>
            </li>
            </ul>
        </div>

    </div>
    
  </div>

</footer>
