<header class="d-flex">
  <img class="logo p-2" src="../images/logo.png" />
  <h1 class="col-2 px-3 title">
    glycemique.com
  </h1>

  <div class="col-6 ms-auto"></div>
  <form class="d-flex col-3 m-1" role="search">
    <input class="form-control me-2"
      type="search"
      placeholder="rechercher"
      aria-label="Search" />
    <button class="btn btn-danger" type="submit">Rechercher</button>
  </form>
</header>
